<h2> <%= @employee.name() %></h2>
<hr>

<% if @employee.projects.any? %>
  <h3>Here are the projects currently assigned to this employee:</h3>
  <ul>
    <% @employee.projects.each() do |employee_project| %>
      <li><%= employee_project.name %></li>
    <% end %>
  </ul>

<% else %>

    <p><strong>There are currently no projects assigned to this employee.</strong></p>
    <br>

<% end %>

<p>Add a project to this employee:<p>
<form id="add_project_id" action="/employees/<%= @employee.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input type="hidden" name="employee_id" id="employee_id" value="<%= @employee.id() %>">
  <label for="project_id">Select an project:  </label>
    <br>
  <select id="project_id" name="project_id">
    <option value=""></option>
    <% @projects.each() do |project| %>
      <option value="<%= project.id() %>"><%= project.name() %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>
